<%
  var title = 'Meming';
  var description = 'Memes about programming';
  var image = new URL('logo/favicon-192x192.png', homepage).href;
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://shoonia.wixsite.com" rel="preconnect" crossorigin="anonymous">
  <link href="https://static.wixstatic.com" rel="preconnect" crossorigin="anonymous">
  <title><%= title %></title>
  <% if (isProd) { %>
    <base href="<%= homepage %>">
    <% } %>
  <link rel="canonical" href="<%= homepage %>">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="<%= description %>">
  <meta name="google-site-verification" content="r9IQYersVVRdg00VhqCTt8yTNmuCdgC-fLFsTiCrk4M">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@_shoonia">
  <meta name="twitter:creator" content="@_shoonia">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= homepage %>">
  <meta property="og:image" content="<%= image %>">
  <meta itemprop="name" content="<%= title %>">
  <meta itemprop="description" content="<%= description %>">
  <meta itemprop="image" content="<%= image %>">
  <link href="/manifest.json" rel="manifest">
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="/logo/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
  <link href="/logo/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
  <link href="/logo/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/logo/safari-pinned-tab.svg" rel="mask-icon" color="#5bbad5">
</head>
<body>
  <header id="header">
    <!-- Header Portal -->
  </header>

  <noscript>
    <link href="/noscript.css" rel="stylesheet">
    <div class="noscript" role="alert">
      <figure class="noscript_box">
        <figcaption class="noscript_message">
          You need to enable JavaScript to run this app.
        </figcaption>
        <img
          src="https://static.wixstatic.com/media/fd206f_789f7340795b41ce9edbda1ff50a0f4d~mv2.jpg"
          class="noscript_image"
          alt="Enable JavaScript"
          crossorigin="anonymous"
        />
      </figure>
    </div>
  </noscript>

  <main id="main">
    <!-- Root -->
  </main>

  <footer id="footer">
    <!-- Foter Portal -->
  </footer>
</body>
</html>
